/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px !important;
}

:root {
  --navbar: #002962
}
:root {
  --navbar-text: red
}
:root {
  --navbar-text-hover: #ffed66
}
:root {
  --navbar-logo: url('./favicon.ico')
}
:root {
  --footer-text: red
}
