/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px !important;
}

:root {
  --navbar: #002962;
  --navbar-text: red;
  --navbar-text-hover: #ffed66;
  --navbar-logo: url('./favicon.ico');
  --footer-text: red;
  --copyRight-Color: grey;
}
